// --- global ---
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000;
  color: #fff;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}
.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}
.wrapper {
  display: flex;
  justify-content: space-around;
  @media (max-width:768px){
    display: block;
  }
}
// ---header---
.header {
  background-color: #2d9079;
  .header__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    .header__logo{
      cursor: pointer;
      z-index: 10;
    }
    .header__menu{
      display: flex;
      align-items: center;
      cursor: pointer;
      z-index: 10;
        & img{
          max-width: 100%;
          height: 50px;
        }
        .header__menu-btn{
          display: none;
          margin-left: 5px;
          &.open {
            display: none;
          }
        }
        .header__menu-close{
          display: none;
          margin-left: 5px;
          &.open {
            display: block;
          }
        }
        @media (max-width:768px) {
          .header__menu-user{
            display: none;
          }
          .header__menu-btn{
            display: block;
          
          }
         
          
        }
    }
  }
  .header__nav{
    .nav__body{
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      background-color:#2d9079;
      z-index:5;
      display: flex;
      text-align: left;
      justify-content: center;
      transition: all 0.7s ease-in-out;
       &.active{
         top:0;
       }
        .nav__list{
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: left;
           .nav__link{
             margin: 25px;
             font-size: 22px;
               .nav__link-route.active{
                color:yellow;
               }
           }
        }
    }
  }
}

// --- side bar ---
.side__bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-self: start;
  background-color: #000;
  text-align: left;
  min-width: 300px;
  @media (max-width:768px) {
    display: none;
  }
  .side__bar-link {
    list-style: none;
    text-decoration: none;
    color: #fff;
    margin: 15px;
    .side__bar-route {
      color: #fff;
      text-decoration: none;
      font-size: 22px;
      position: relative;
      padding: 5px;
      z-index: 1;

      &.active {
        color: gold;
      }
      &:hover::before {
        width: 100%;
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0%;
        background-color: #2d9079;
        z-index: -1;
        transform: skew(-30deg);
        transition: all 0.4s linear;
      }
    }
  }
}
// --- main ---
.main {
  text-align: center;
  position: relative;
  flex: 2;
}
// --- loader ---
.loader {
  background-color: #000;
  z-index: 99;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &.hide {
    display: none;
  }
  .lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #fff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%,
    100% {
      top: 24px;
      height: 32px;
    }
  }
}

// ---  main cards ----

.cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 25px;
  .card__statistic{
    position: relative;
    box-shadow: -1px 0px 2px 2px #fff;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    background: #2d9079;
  }
  .card {
    position: relative;
    margin: 10px;
    border-radius: 5px;
    width: 300px;
    padding: 25px;
    background: #2d9079;
    box-shadow: -1px 0px 2px 2px #fff;
    overflow: hidden;
    .card__title {
      font-size: 22px;
      font-weight: bold;
      margin: 5px;
    }
    .card__subtitle {
      font-size: 28px;
      letter-spacing: 2px;
      font-weight: bold;
      margin: 15px;
    }
    .card__icon {
      font-size: 22px;
    }
    .card__decor {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 80%;
      width: 40%;
      background-color: aquamarine;
      clip-path: circle(50% at 96% 96%);
    }
  }
}

// --- products ---

.products {
  margin: 25px;
  .products__nav {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
      @media (max-width:375px) {
        flex-wrap: wrap;
        justify-content: center;
        
      }
    .products__btn {
      border: 2px solid gold;
      border-radius: 5px;
      align-self: start;
      padding: 10px;
      margin: 5px;
      cursor: pointer;
    }
    .products__sort {
      display: flex;
      position: relative;
      .products__sort-btn {
        cursor: pointer;
        margin: 5px;
        display: flex;
        align-items: center;
        .products__select {
          color: gold;
          font-weight: bold;
        }
      }
      .products__sort-icon {
        transition: all 0.3s ease-in;
        &.active {
          transform: rotate(180deg);
        }
      }
      .products__body {
        position: absolute;
        top: 35px;
        background-color: #424e4e;
        border-radius: 5px;
        margin: 10px;
        z-index: 99;
      }
      .products__sort-items {
        display: none;
        text-align: left;
        overflow: hidden;
        &.active {
          display: block;
        }
        .products__sort-item {
          margin: 10px;
          font-weight: bold;
          font-size: 18px;
          cursor: pointer;
          &.active {
            color: gold;
          }
        }
      }
    }
  }

  .product__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .product__card {
      position: relative;
      width: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 25px;
      padding: 15px;
      background: #2e8c7b;
      border-radius: 5px;
      cursor: pointer;
      .product__edit{
        position: absolute;
        top:0;
        right: 5px;
        svg:hover{
          color:yellow;
        }
      }
      .product__card-delete{
        position: absolute;
        bottom: 0;
        right: 5px;
        svg:hover{
          color:yellow;
        }
      }
      .product__card-img img {
        max-width: 100%;
        max-height: 300px;
        margin-top: 25px;
        object-fit: contain;
      }
      .product__card-title{
        font-size: 22px;
        font-weight: 500;
        color: yellow;
        position: relative;
        &::after {
          content:"";
          position: absolute;
          bottom:-10px;
          left: 50%;
          transform: translate(-50%,-50%);
          height: 5px;
          width: 50%;
          background-color: yellow;
        }
      }
      .product__card-price{
        margin-top: 15px;
        font-size: 18px;
        font-weight: bold;
        color:yellow;
      }

      &:hover {
        box-shadow: 2px 1px 4px 3px #b1b1b1;
      }

    }
  }
}

// --- add item/edit item---
 .add__item,.edit__item{
   display: flex;
   justify-content: center;
 }
 .add__item-close{
  position: absolute;
  right: 5px;
  z-index: 1;
    svg{
    color:yellow;
   }
 }
.add__item-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color:#fff;
  position: relative;
  margin-top:15px;
  label{
    font-weight: bold;
    font-size: 20px;
  }
  .input__label{
    cursor: pointer;
    color: gray;
     &:hover{
       color:#fff;
     }
  }
  .input__upload{
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
}
.input__file{
  opacity: 0;
}
.progress__bar{
  height: 10px;
  background-color: #2d9079;
  margin-top:20px;
  position: absolute;
  left: 0;
}

.item__img img{
 max-width: 300px;
 margin: 10px;
}
.item__info{
  margin: 10px;
  font-size: 20px;
  color:yellow;
}
.item__added{
  position: relative;
  background-color: #217739;
  text-align: center;
  border-radius: 5px;
  width: 100%;
  .item__added-text{
    padding: 10px;
    font-size: 20px;
  }
  .item__added-icon{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
  }
}



//  --- orders / table --- 
.orders__grid{
  margin-bottom: 25px;
}
.orders__select{
  min-height: 50px;
  .orders__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin:10px;
     .orders__btn{
       margin: 5px;
     }
  }
}
.grid__header,.grid__row{
  background: #159957;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #155799, #159957);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #155799, #159957); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: flex;
  justify-content: space-between;
  text-align: left;
  .grid__element-header{
     font-size:18px;
     font-weight: bold;
     text-transform: uppercase;
     width: 30%;
  }
  .grid__element-checkbox{
    flex:1;
    width: 10%;
    display: flex;
    justify-content: center;
  }
  .grid__element{
    padding: 10px;
    border: 1px solid #fff;
 
  }
}
 
.grid__row:hover{
  color:yellow;
}
.grid-name {
  font-weight: bold;
}
.grid-name,.grid-price,.grid-item{
  width: 30%;
}
// ---- MSG --- 


.msg {
  position: absolute;
  bottom: 0;
  right: 5%;
  background-color: #dede29;
  border-radius: 5px;
  color:#000;
  z-index: 1;
  margin: 5px;
   .msg__wrapper{
     position: relative;

     .msg__close{
      position: absolute;
      top:0;
      right: 0;
      z-index: 1;
        &:hover{
          cursor: pointer;
        }
    }

   }
   .msg__text{
     padding: 25px;
     font-size: 18px;
     font-weight: bold;
     animation: msgPush 2s infinite;
      
   }
}


@keyframes msgPush {

  from {
    transform: scale(1);
  }
  to{
    transform: scale(0.9);
  }
}